<a href="https://colab.research.google.com/github/JHWannabe/TIL/blob/main/02_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. print 함수
* 매개변수로 지정된 데이터를 출력하고 줄을 변경하는 역할

In [ ]:
print("안녕하세요. 파이썬!")
print(10)

안녕하세요. 파이썬!
10

#2. 주석문

In [ ]:
# 한 줄 주석문

'''
여기는 여러줄을 주석으로 처리합니다.
따라서 프로그램에 영향을 주지 않습니다.
'''

print('파이썬 출력하기') # 문자열 출력은 싱글 따옴표 '' 또는 쌍 따옴표 ""를 사용함

파이썬 출력하기

#3. print 함수의 활용

In [ ]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 3)
print('10 + 5')
print('10' + 5) # TypeError: can only concatenate str (not "int") to str

15
5
50
2.0
1
10 + 5

TypeError: ignored

In [ ]:
print('Hello', 'Python')
print('Hello', 'Python', 'Hi', 'Python')
print('Hello', end='') # print 출력 후 어떻게 처리할지에 대한 옵션
print('Python')
print('Hello')
print('Hello', end='💻')
print('Python')

Hello Python
Hello Python Hi Python
HelloPython
Hello
Hello💻Python

#4. 출력 서식 지정하기
* %d(정수), %f(실수), %s(문자열)을 사용하여 출력 서식을 지정
* 서식을 제외한 문자는 입력한 그대로 출력이 됨
* 서식을 지정해서 출력할 데이터가 2개 이상인 경우는 소괄호로 데이터를 묶어야 함

In [ ]:
print('정수 : 100')
print('정수 :', 100)
print('정수 : %d' % 100)
print(f'정수 : {100}')

정수 : 100
정수 : 100
정수 : 100
정수 : 100
정수 : 100

In [ ]:
print('실수 : %.1f' % 100.5)

실수 : 100.5

In [ ]:
print('문자열 %s' % 'Python')
print('문자열 %s' % 100)

문자열 Python
문자열 100

In [ ]:
print('5 + 3 = 8')
print('%d + %d = %d' %(5,3,5+3))

5 + 3 = 8
5 + 3 = 8
5 + 3 = 8

In [ ]:
print('%5d' % 100)
print('%05d' % 100)
print('%5d' % 10000)

  100
00100
10000

In [ ]:
print('%06.2f' % 52.7) # 점까지 포함한 자리 수(6자리에 소수점 둘째자리까지)
print('%06.2f' % 52.7785) # 반올림

052.70
 52.78

In [ ]:
print('%5s' % 'ABC')

  ABC

In [ ]:
# 5 / 3 = ?
print('%d / %d = %f' %(5,3,5/3))
print('%d / %d = %4.2f' %(5,3,5/3))

5 / 3 = 1.666667
5 / 3 = 1.67
5 / 3 = 1.6666666666666667

# 5. format 함수와 출력 인덱스 사용

In [ ]:
# 인덱스: 0부터 순서대로 진행되는 함수
print('{} {}' .format('김사과','반하나'))
print('{0} {1}' .format('김사과','반하나'))
print('{1} {0}' .format('김사과','반하나'))

김사과 반하나
김사과 반하나
반하나 김사과

In [ ]:
print('{0:3s}님은 {1:03d}살입니다.'.format('김사과', 20))

김사과님은 020살입니다.